<!DOCTYPE html>
<html lang="es">

<!-- HEAD INICIO-->
<%- include('../partials/head.ejs') %>
<!-- HEAD FIN-->

<body>

 <!------- HEADER INICIO ------------>
 <%- include('../partials/header.ejs') %>
 <!------- HEADER FIN ---------------->

<!------   Producto -------------------------->
<h1 class="descriptionProduct-title">Editar Producto</h1>
    <section class="container">
        <div class="abmProducts-container">
                        
            <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="abmProducts-mainfield">
                
                <div class="abmProducts-field ">
                    <div class="abmProducts-block-input">
                        <input type="text" id="product_name" name="product_name" class="abmProducts-input-effect" placeholder autocomplete="off" value="<%= product.product_name %>" required>
                        <label for="product_name">Nombre del producto</label>
                        <span class="abmProducts-focus-border-effect"></span>
                    </div>      
                    <div class="abmProducts-block-checkIcon">
                        <i class="fa fa-check"></i>
                        <i class="fa fa-times"></i>
                    </div>
                </div>

                <div class="abmProducts-field ">
                    <div class="abmProducts-block-textArea">
                        <label for="description">Descripción del producto</label>
                        <textarea class='abmProducts-textArea' id="description" name="description" autocomplete="off" value="<%= product.description %>" rows="3" cols="50" required><%= product.description %></textarea>
                    </div> 
                    <div class="abmProducts-block-checkIcon">
                        <i class="fa fa-check"></i>
                        <i class="fa fa-times"></i>
                    </div>     
                </div>

                <div class="abmProducts-field ">
                    <div class="abmProducts-block-input">
                        <input type="text" id="wine_family" name="wine_family" class="abmProducts-input-effect" placeholder autocomplete="off"  value="<%= product.wine_family %>" required>
                        <label for="wine_family">Bodega</label>
                        <span class="abmProducts-focus-border-effect"></span>
                    </div>      
                    <div class="abmProducts-block-checkIcon">
                        <i class="fa fa-check"></i>
                        <i class="fa fa-times"></i>
                    </div>
                </div>

                <div class="abmProducts-field ">
                    <div class="abmProducts-block-input">
                        <input type="text" id="category" name="category" class="abmProducts-input-effect" placeholder autocomplete="off"  value="<%= product.category %>" required>
                        <label for="category">Categoria</label>
                        <span class="abmProducts-focus-border-effect"></span>
                    </div>      
                    <div class="abmProducts-block-checkIcon">
                        <i class="fa fa-check"></i>
                        <i class="fa fa-times"></i>
                    </div>
                </div>

                <div class="abmProducts-field ">
                    <div class="abmProducts-block-input">
                        <input type="text" id="year" name="year" class="abmProducts-input-effect" placeholder autocomplete="off" value="<%= product.year %>" required>
                        <label for="year">Año</label>
                        <span class="abmProducts-focus-border-effect"></span>
                    </div>      
                    <div class="abmProducts-block-checkIcon">
                        <i class="fa fa-check"></i>
                        <i class="fa fa-times"></i>
                    </div>
                </div>

                <div class="abmProducts-field ">
                    <div class="abmProducts-block-input">
                        <input type="text" id="price" name="price" class="abmProducts-input-effect" placeholder autocomplete="off" value="<%= product.price %>" required>
                        <label for="price">Precio</label>
                        <span class="abmProducts-focus-border-effect"></span>
                    </div>      
                    <div class="abmProducts-block-checkIcon">
                        <i class="fa fa-check"></i>
                        <i class="fa fa-times"></i>
                    </div>
                </div>

                <div class="abmProducts-field ">
                    <div class="abmProducts-block-input">
                        <input type="file" id="image" name="image" class="abmProducts-input-effect" placeholder autocomplete="off" >
                        <label for="image">Imagen</label>
                        <span class="abmProducts-focus-border-effect"></span>
                    </div>      
                    <div class="abmProducts-block-checkIcon">
                        <i class="fa fa-check"></i>
                        <i class="fa fa-times"></i>
                    </div>
                </div>

                <div class="abmProducts-container-checkbox">
                    <h3 class="abmProducts-label-checkbox">Oferta</h3>
                    <div class="abmProducts-offer">
                        <% if (product.offer == 1) { %>
                            <input type="checkbox" id="offer" name="offer" checked >
                        <%  } else { %>
                            <input type="checkbox" id="offer" name="offer" >
                        <%  } %>
                        <label for="offer"></label>
                    </div>
                </div>
                
                <div class="abmProducts-field ">
                    <div class="abmProducts-block-input">
                        <input type="text" id="offerPrice" name="offerPrice" class="abmProducts-input-effect" placeholder autocomplete="off" value="<%= product.offerPrice %>" required>
                        <label for="offerPrice">Precio de oferta</label>
                        <span class="abmProducts-focus-border-effect"></span>
                    </div>      
                    <div class="abmProducts-block-checkIcon">
                        <i class="fa fa-check"></i>
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                    

                <hr>
                
                <div class="abmProducts-guardar">
                    <button type="submit">Guardar producto</button>
                </div>
            </form>
        </div>
    </section>
  <!----------------------------------->
  <!------- FOOTER INICIO ------------>
  <%- include('../partials/footer.ejs') %>
  <!------- FOOTER FIN --------------->
</body>
</html>