<!DOCTYPE html>
<html lang="es">

<!-- HEAD INICIO-->
<%- include('../partials/head.ejs') %>
<!-- HEAD FIN-->

<body>
<!-- HEADER INICIO-->
<%- include('../partials/header.ejs') %>
<!-- HEADER FIN-->


<!----------------------------------->
<main>
<!--***********BUSCADOR************-->
<section>
    <div class="search-container">
        <form action="search-products" method="POST" class="search">
            <input type="text" placeholder="Buscador">
            <div type="submit" class="icon-search"><i class="fa fa-search"></i></div>
        </form>
    </div>
</section>
<!----------------------------------->
<!--***LISTADO DE PRODUCTOS 3col***-->
<section class="section-list-products">
    <h2 class="title-list-products">Lista de productos</h2>
    <div class="container-products">
        <% products.forEach (product => {  %>
            <!-- PROD INICIO-->
            <div class="product">
                <div class="product-marco">
                    <a class="product-content" href="/products/productDescription">
                        <div class="product-image">
                            <img src="/img/<%= product.image %>" alt="imagenDelProducto">
                            <div class="product-icon-offer">
                                <i class="fa fa-medal"></i>
                            </div>
                        </div>               
                        <div class="product-description">
                            <h2><%= product.product_name %></h2>
                            <p>Varietal: <span><%= product.category %></span></p>
                            <p>Año: <span><%= product.year %></span></p>
                        </div>
                        <span>Mas información</span>
                    </a>
                    <hr>
                    <div class="product-cost">
                        <p>$ <span><%= product.price %></span></p>      
                    </div>
                    <div class="product-count">
                        <p><button class="product-add-rest">-</button><span>1</span><button class="product-add-add">+</button></p>
                    </div>
                    <div class="product-buy">
                        <a type="button" class="callToAction-add-product" href="/products/productsCart"><p>Agregar al carrito</p></a>
                    </div>
                </div>
            </div>
            
            <!-- PROD FIN-->
        <% }) %>
    
    </div>
    
</section>
<!----------------------------------->
</main>

<!------- FOOTER INICIO ------------>
<%- include('../partials/footer.ejs') %>
<!------- FOOTER FIN --------------->

</body>
</html>