
<!--***LISTADO DE PRODUCTOS EN EL HOME***-->
<% products.forEach (product => {  %>
    <!-- CARD DEL PRODUCTO INICIO-->
    <div class="product">
        <div class="product-marco">
            <a class="product-content" href="/products/productDescription/<%= product.id_product %>">
                <div class="product-image">
                    <img src="/img/<%= product.image %>" alt="imagenDelProducto">
                    <% if( product.offer){ %>
                    <div class="product-icon-offer">
                        <i class="fa fa-medal"></i>
                    </div>
                    <% } %>
                </div>               
                <div class="product-description">
                    <h2><%= product.product_name %></h2>
                    <p>Varietal:</p>
                    <p><%= product.categorias.category_name %></p>
                    <p>Año: <span><%= product.year %></span></p>
                </div>
                <span>Mas información</span>
            </a>
            <hr>
            <div class="product-cost">
                <p><% if(product.offer){ %><span>$ <strike><%= product.price %></span></strike><span  style="color:#B0976D">&nbsp &nbsp $ <%= product.offer_price %></span><% }else{ %> <span>$ <%= product.price %></span> <% } %>   </p>      
            </div>
            <div class="product-buy">
                <a type="button" class="callToAction-add-product" href="/products/add-to-cart/<%= product.id_product %>"><p>Agregar al carrito</p></a>
            </div>
        </div>
    </div>    
    <!-- CARD DEL PRODUCTO FIN-->
<% }) %> <!-- Fin del forEach -->
