<header>
    <!------------Logo de la empresa------------------>
    <a class="logoHeader" href="/home" >
        <img src="/img/logoClubDelVino.png" alt="imagenLogo">
    </a>
    <!------------------------------------------------->
    <!---------Menu desplegable lateral sandwich------->
    <div class="menuHeadersandwich">
        <input type="checkbox" id="toggle-menu">
        <label for="toggle-menu"><i class="fa fa-bars menu-icon"></i><!--menu sandwich--></label>
        <!--*****MENU DESPLEGABLE que se mostrara si se hace click en checkbox******-->
        <section class="home-menu-dropdown">
            <div class="list-menu">
                <ul>
                    <% if (locals.user) { %>
                        <% if (locals.user.user_type == 'administrador') { %>
                            <li><a href="/users/">Usuarios</a></li>
                            <li><a href="/users/<%= user.id_user %>">Perfil</a></li>
                            <li><a href="/products/create">Alta Producto</a></li>
                            <li><a href="/products/listProducts">Editar Producto</a></li>
                            <li><a href="/404">Error 404</a></li>
                        <% } else  { %>
                            <li><a href="/users/<%= user.id_user %>">Perfil</a></li>
                        <% } %>
                    <% } else  { %>
                        <li><a href="/users/login">Login</a></li>
                        <li><a href="/users/register">Registrarse</a></li>
                    <% } %>
                </ul>
                <div><span>Cotizacion Dolar: <%= locals.exchangeAPI.dolarOficial %></span></div>
            </div>
        </section>
    </div>
    <!------------------------------------------------->
    <!-----------Barra de header----------------------->
    <div class="centerHeader">
        <a class="tituloHeader" href="/home">
            <h2>Club del Vino</h2>
        </a>
        <div><span>Cotizacion Dolar: <%= locals.exchangeAPI.dolarOficial %></span></div>
        <nav class="menuHeader">
            <ul>
                <li><a href="/users/">Usuarios</a></li>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Registrarse</a></li>
                <% if (locals.user) { %>
                <li><a href="/users/<%= user.id_user %>">Perfil</a></li>
                <% } else  { %> 
                    <li><a href="/users/login">Perfil</a></li>
                <% } %>
                <li><a href="/products/create">Alta Producto</a></li>
                <li><a href="/products/listProducts">Editar Producto</a></li>
                <li><a href="/404">Error 404</a></li>
            </ul>
            
        </nav>
    </div>
    <div class="register-header">
        <a href="/users/register">Registrarse</a>
    </div>
    <!------------------------------------------------->
    <!-------Imagen usuario en el menu header----------->
    <div class="image-user-header">
        <% if (locals.user) { %>
            <a href="/users/<%= user.id_user %>">
                <img src="/img/users/<%= user.image ? user.image : 'defaultImageUser.jpg' %>" alt="<% user.firstname %>">
            </a>
        <% } else  { %> 
            <a href="/users/login">
                <img src="/img/users/defaultImageUser.jpg" alt="imagenUsuario">
            </a>
        <% } %>
    </div>
    <!------------------------------------------------->
    <!------------Imagen carrito de compra------------->
    <a class="shoppinCartHeader" href="/products/productsCart">
        <i class="fas fa-shopping-cart cartIcon"></i>
        <div class="cantArticlesHeader">
            <% if(locals.session.cart){ %>
                  <span><%= locals.session.cart.totalQty %></span>
            <% } else { %>
                  <span>0</span>
            <% } %>
        </div>
    </a>
    <!------------------------------------------------->
</header>
<!----------ARREGLO DE ESPACIO DEL HEADER STIX Y EL RESTO DE LA PAGINA------------>
<div class="fix-space-header-stix">

</div>
<!-------------------------------------------------------------------------------->