<!DOCTYPE html>
<html lang="es">

<!-- HEAD INICIO-->
<%- include('../partials/head.ejs') %>
<!-- HEAD FIN-->

 <body>

    <!------- HEADER INICIO ------------>
    <%- include('../partials/header.ejs') %>
    <!------- HEADER FIN ---------------->
    
    <!------------------------------------>

    <!-- Crear formulario de registro -->
    <section class="content-form-login-register">
      <form action="/users/register"  method="POST" class="create-form" enctype="multipart/form-data" id="formRegisterUser">
        <h1>CREAR CUENTA</h1>
        
        <div class="control-field-login-register ">
          <div class="block-input-login-register">
            <input type="text" id="firstname" name="firstname" class="input-login-register-effect" placeholder autocomplete="off" value="<%= locals.oldData ? oldData.firstname : null %>">
            <label>Nombre</label>
            <span class="focus-border-login-register-effect"></span>
            <!--Mensaje de error desde el backend-->
            <% if( locals.errors && errors.firstname){ %> <p class="errorMessage"> <%= errors.firstname.msg %></p> <% } %>
            <!------------------------------------->
          </div>
          <div class="block-checkIcon-login-register">
            <span class="far emojiCheck" id="check_face_validation_register_user_name"></span><div class="msgCheck" id="msgCheck_user_name"><p>Debe ser un nombre de mas de 2 letras</p></div>
            <!--Bloque para mostrar un grafico check si esta o no correctamente llenado el campo-->
            <% if(locals.errors){ %>
              <% if(errors.firstname){ %>
                <i class="fa fa-times"></i>
              <% } else { %>
                <i class="fa fa-check"></i>
              <% } %>
            <% } %>
            <!------------------------------------------------------------------------------------->
          </div>       
        </div>

        <div class="control-field-login-register ">
          <div class="block-input-login-register">
            <input type="text" id="lastname" name="lastname" class="input-login-register-effect" placeholder autocomplete="off" value="<%= locals.oldData ? oldData.lastname : null %>">
            <label>Apellido</label>
            <span class="focus-border-login-register-effect"></span>
            <!--Mensaje de error desde el backend-->
            <% if( locals.errors && errors.lastname){ %> <p class="errorMessage"> <%= errors.lastname.msg %></p> <% } %>
            <!------------------------------------->
          </div>
          <div class="block-checkIcon-login-register">
            <span class="far emojiCheck" id="check_face_validation_register_user_lastname"></span><div class="msgCheck" id="msgCheck_user_lastname"><p>Debe ser un apellido de mas de 2 letras</p></div>
            <!--Bloque para mostrar un grafico check si esta o no correctamente llenado el campo-->
            <% if(locals.errors){ %>
              <% if(errors.lastname){ %>
                <i class="fa fa-times"></i>
              <% } else { %>
                <i class="fa fa-check"></i>
              <% } %>
            <% } %>
            <!------------------------------------------------------------------------------------->
          </div>
        </div>

        <div class="control-field-login-register ">
          <div class="block-input-login-register">
            <input type="text" id="email" name="email" class="input-login-register-effect" placeholder autocomplete="off" value="<%= locals.oldData ? oldData.email : null %>">
            <label>Email</label>
            <span class="focus-border-login-register-effect"></span>
            <!--Mensaje de error desde el backend-->
            <% if( locals.errors && errors.email){ %> <p class="errorMessage"> <%= errors.email.msg %></p> <% } %>
            <!------------------------------------->
          </div>      
          <div class="block-checkIcon-login-register">
            <span class="far emojiCheck" id="check_face_validation_register_user_mail"></span><div class="msgCheck" id="msgCheck_user_email"><p>Debe ser un email valido</p></div>
            <!--Bloque para mostrar un grafico check si esta o no correctamente llenado el campo-->
            <% if(locals.errors){ %>
              <% if(errors.email){ %>
                <i class="fa fa-times"></i>
              <% } else { %>
                <i class="fa fa-check"></i>
              <% } %>
            <% } %>
            <!------------------------------------------------------------------------------------->
          </div>
        </div>

        <div class="control-field-login-register ">
          <div class="block-input-login-register">
            <input type="password" id="password" name="password" class="input-login-register-effect" placeholder autocomplete="off">
            <label>Contraseña</label>
            <span class="focus-border-login-register-effect"></span>
            <!--Mensaje de error desde el backend-->
            <% if( locals.errors && errors.password){ %> <p class="errorMessage"> <%= errors.password.msg %></p> <% } %>
            <!------------------------------------->
          </div>
          <div class="block-checkIcon-login-register">
            <span class="far emojiCheck" id="check_face_validation_register_user_password"></span><div class="msgCheck" id="msgCheck_user_password"><p>El password debe tener mas de 8 caracteres</p></div>
            <!--Bloque para mostrar un grafico check si esta o no correctamente llenado el campo-->
            <% if(locals.errors){ %>
              <% if(errors.password){ %>
                <i class="fa fa-times"></i>
              <% } else { %>
                <i class="fa fa-check"></i>
              <% } %>
            <% } %>
            <!------------------------------------------------------------------------------------->
          </div>
        </div>

        <div class="control-field-login-register ">
          <div class="block-input-login-register">
              <input type="file" id="image" name="image" class="abmProducts-input-effect">
              <label for="image">Imagen</label>
              <span class="focus-border-login-register-effect"></span>
              <!--Mensaje de error desde el backend-->
            <% if( locals.errors && errors.image){ %> <p class="errorMessage"> <%= errors.image.msg %></p> <% } %>
            <!------------------------------------->
          </div>      
          <div class="block-checkIcon-login-register"><span class="far emojiCheck" id="check_face_validation_register_user_image"></span><div class="msgCheck" id="msgCheck_user_image"><p>Debe ser una imagen valida jpg, png o jpeg</p></div>
            <!--Bloque para mostrar un grafico check si esta o no correctamente llenado el campo-->
            <% if(locals.errors){ %>
              <% if(errors.image){ %>
                <i class="fa fa-times"></i>
              <% } else { %>
                <i class="fa fa-check"></i>
              <% } %>
            <% } %>
            <!------------------------------------------------------------------------------------->
          </div>
        </div>

        <div class="control-form-button">
          <button type="submit" class="control-button" id="button_submit_register_form">REGISTRARSE</button>
        </div> 
      </form>
    </section>

    <!------- FOOTER INICIO ------------>
    <%- include('../partials/footer.ejs') %>
    <!------- FOOTER FIN ---------------> 
    
  </body>
  <script src="/js/effects.js"></script>
</html>