<!DOCTYPE html>
<html lang="es">
  <!-- HEAD INICIO-->
  <%- include('../partials/head.ejs') %>
  <!-- HEAD FIN-->

  <body>
    <!------- HEADER INICIO ------------>
    <%- include('../partials/header.ejs') %>
    <!------- HEADER FIN ---------------->

    <!--***LISTADO DE USUARIOS PARA EDICION POR PARTE DEL ADMINISTRADOR*** -->
    <div class="titleProductCart">
      <h2>EDITAR/BORRAR USUARIOS</h2>
    </div>

    <section class="container_list_users">

      <% users.forEach (user => { %>
      
      <div class="container_card_user">
        <div class="container_image_user">
          <a href="/users/<%= user.id_user %>/userprofile">
            <img src="/img/users/<%= user.image %>" alt="imagenUser" />
          </a>
        </div>

        <div class="container_block_info_user">
          <h3>ID <%= user.id_user %></h3>
          <span><%= user.first_name %> <%= user.last_name %> (<%= user.user_type %>)</span>
          <p>Email: <span><%= user.email %></span></p>
        </div>

        <div class="container_button_item">
          <form method="POST" action="/users/deleteUsers/<%= user.id_user %>">
            <button class="container_item_svg_user_product" type="submit">
              <span class="fas fa-user-times fa-2x item_action_product_user"></span>
            </button>
          </form>
        </div>
        <div class="container_button_item">
          <a href="/users/<%= user.id_user %>/userprofile"><span class="fas fa-user-edit fa-2x item_action_product_user"></span></a>
        </div>

      </div>

      <% }) %>

      <div class="control-form-button-list-users">
        <a href="/"><button class="button-return-list-users">Home</button></a>
      </div>
    </section>
  </body>
</html>
